/*-- scss:defaults --*/
// Base document colors
$link-color:#6082B6;
$link-color-hover: #2D3051;


// Code blocks
$code-block-bg-alpha: -.8;
$code-block-bg: #f3fefe;
$code-block-bg-padding: 0.5rem;
$btn-code-copy-color-active: #6082B6;

$toc-font-size	: 0.8rem;
$code-color	: #6099cb;
